<div>
<h2>{{title}}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Account Code (1/2)</th>
            <th>Name (1)</th>
            <th>Account Name (2)</th>
            <th>Account Balance (2)</th>
            <th>Balance Date (2)</th>
            <th>Active (1)</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="account in accounts" ng-click="openAccountDialog(this)">
            <td>{{account.Id}}</td>
            <td>{{account.Version}}</td>
            <td>{{account.AccountCode}}</td>
            <td>{{account.Name}}</td>
            <td>{{account.AccountName}}</td>
            <td style="text-align: right">{{account.Balance | number:2}}</td>
            <td>{{account.BalanceDate | date:'MM/dd/yy'}}</td>
            <td>{{account.IsActive}}</td>
        </tr>
    </tbody>
</table>
</div>

<script type="text/ng-template" id="accountDialog">
    <div class="modal-header ">
        <h2>{{title}}</h2>
    </div>
    <div class="modal-body">
    <table>
    <tbody>
        <tr><td>Account Code</td><td><input type="text" ng-model="account.AccountCode" /></td></tr>
        <tr><td>Account Name</td><td><input type="text" ng-model="account.AccountName" /></td></tr>
        <tr><td>Balance</td><td><input type="text" ng-model="account.Balance"/></td></tr>
        <tr><td>Balance Date</td><td><input type="text" ng-model="account.BalanceDate"/></td></tr>
        <tr><td>Active</td><td><input type="text" ng-model="account.IsActive" /></td></tr>
    </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="dismiss()">Close</button>
        <button class="btn btn-primary" ng-click="saveAccount()">Save</button>
    </div>
</script>

