<div ng-app="mainApp">
    <ng-view></ng-view>
</div>

@section Scripts {
    <script src="~/Scripts/apps/main/main.js"></script>
    <script src="~/Scripts/apps/main/accountSvc.js"></script>
    <script src="~/Scripts/apps/main/notifySvc.js"></script>
    <script src="~/Scripts/apps/main/maincontroller.js"></script>
    <script src="~/Scripts/apps/main/accountDialogController.js"></script>
    <script src="~/Scripts/apps/main/editableDirective.js"></script>
}
